<%- include('partials/header') %>
<header>
  <div class="work">
    <img src="/public/code.png" width="40" height="40" />
  </div>
  <div class="heading">
    <h2>development</h2>
    <a class="btn" href="/works">works</a>
  </div>
</header>
<%- include('partials/footer') %>
