<%- include('partials/header') %>
<div class="container py-5">
  <h1>work page</h1>
  <div class="row">
    <div class="col-md-3">
      <div class="card p-2 bg-dark">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate autem ullam 
      </div>
    </div>
    <div class="col-md-3">
      <div class="card p-2 bg-dark">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate autem ullam 
      </div>
    </div>
    <div class="col-md-3">
      <div class="card p-2 bg-dark">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate autem ullam 
      </div>
    </div>
    <div class="col-md-3">
      <div class="card p-2 bg-dark">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate autem ullam 
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') %>
